                <footer>
                    <a class="pure-button" href="index.html">Retour à l'accueil</a>
                </footer>
            </article>
        </div>
    </main>
</div>
</body>
</html>